<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/TP1/src/com/itba/imagenes/tp1/Umbral.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.itba.imagenes.tp1.Umbral"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="inputImageName1=input1 imageFormatInput1=jpg outputImageName=umbral imageFormatOutput=jpg scalar=140"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="TP1"/>
</launchConfiguration>
